body {
    background-color: #41326c;
    font-family: 'Comfortaa', cursive;
}

h1, h2 {
    color: #FDEBED;
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
}

h2 {
    color: #b09497;
    cursor: pointer;
    font-size: 30px;
    padding: 0;
}

.colores {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#verde {
    background-color: #CDE990;
    border-radius: 100%;
    cursor: pointer;
    height: 170px;
    margin: 20px 20px;
    width: 170px;
    
}

#rojo {
    background-color: #D3756B;
    border-radius: 100%;
    cursor: pointer;
    height: 170px;
    margin: 20px 20px;
    width: 170px;
    
}

#amarillo {
    background-color: #F5EA5A;
    border-radius: 100%;
    cursor: pointer;
    height: 170px;
    margin: 20px 20px;
    width: 170px;
}

#azul {
    background-color: #AEE2FF;
    border-radius: 100%;
    cursor: pointer;
    height: 170px;
    margin: 20px 20px;
    width: 170px;
}

.pulsado {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.perdido {
    background-color: rgb(219, 144, 144);
    opacity: 0.8;
}
  